<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
<head>
 <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
</head>
<body>
<h1>Contact</h1>
<p>Contact Ruby on Rails Tutorial about sample app at the
   <a href="http://railstutorial.org/contact">contact page</a>
   <em>if using <a href="http://ruby.railstutorial.org/chapters/filling-in-the-layout#sec-pretty_rspec">pretty RSpec</a>section, contact page must be change.</em>
</p>
</body>
</html>
